body{
    background-image: radial-gradient(#cad8e6,#78a3c5);
    min-height : 100vh; 
    padding: 0;
}

.navbar{
    background-color: #78a3c5;
    margin: 0;
}

.color-nav a{
    color: #FFF7EB;
}

.color-nav a:hover{
    color: #ffeccf;
    background-color: transparent;

}

.texto{
    color: #FFF7EB;
}

.padding{
    padding-top: 2em;
}

.pedir-turno-container {
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    border-radius: 10px;
    cursor: pointer;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

.pedir-turno-container:hover {
    background-color: #ffffff;
}

.form-container { 
    width: 33.33%; 
    padding: 20px; 
    border: 1px solid #ccc; 
    border-radius: 10px; 
    background-color: #f9f9f9; 
}
 
.form-label {
    display: block; 
    font-weight: bold; 
    margin-bottom: 5px;
}

/*Mis Turnos*/
table {
    width: 100%;
    border-collapse: collapse;
}

th,
td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #f4f4f4;
}

.texto-consultas{
    color: rgb(0, 29, 29);
}

.centro{
    padding-top: 5px;
    background-color: #FFF7EB;
}

/*Servicios*/
/* Estilo para las tarjetas de servicios */
.servicio-card {
    cursor: pointer;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

/* Estilo para los iconos dentro de las tarjetas */
.servicio-card i {
    transition: transform 0.3s ease, color 0.3s ease;
}

/* Efecto de hover en la tarjeta completa */
.servicio-card:hover {
    transform: translateY(-10px);
    /* Mueve la tarjeta hacia arriba */
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
    /* Añade sombra a la tarjeta */
    color: #78a3c5;
}

/* Efecto de hover en el icono */
.servicio-card:hover i {
    transform: scale(1.2);
    /* Aumenta el tamaño del icono */
    color: #78a3c5;
    /* Cambia el color del icono al pasar el cursor */
}



.carousel-item {
    height: 570px;
    min-height: 300px;
    background: no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
  
  .card-columns .card {
    display: inline-block;
    width: 100%;
  }
  
  .card-img-top {
    width: 100%;
    height: 570px !important; /*esta es la parte importante para que todas tus card-img tengan la misma medida sin importar el tamaño de la imagen */
    border-top-left-radius: calc(0.25rem - 1px);
    border-top-right-radius: calc(0.25rem - 1px);
  }